In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
categories_df = pd.read_csv('../data/Kharis Grant Recipient Categories.csv')
categories_df.head()

,NAME OF CHARITY,Food Insecurtiy,Child Welfare,Affordable Housing,Legacy
0,"F.P.C, Murfreesboro",NaN,NaN,NaN,T
1,Monroe Harding,NaN,T,NaN,NaN
2,Nashville Food Project,T,NaN,NaN,NaN
3,"F.P. C., Clarksville",NaN,NaN,T,T
4,Westminster,NaN,NaN,T,NaN

In [4]:
grants_df = pd.read_csv('../data/Chart of Grants.csv')
grants_df.head()

,Unnamed: 0,1/1/09 thru 6/30/09,2009,7/1/09 thru 6/30/10,2010,7/1/10 thru 6/30/11,2011,7/1/11 thru 6/30/12,2012,7/1/12 thru 6/30/13,...,2020,2021,2022,2023,2024,Unnamed: 26,2025,2026,Unnamed: 29,Unnamed: 30
0,NAME OF CHARITY,REQUEST,AWARDED,REQUEST,AWARDED,REQUEST,AWARDED,REQUEST,AWARDED,REQUEST,...,AWARDED,AWARDED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"F.P.C, Murfreesboro",NaN,"$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monroe Harding,NaN,NaN,"$10,000","$10,000","$50,000","$25,000","$50,000","$25,000","$30,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nashville Food Project,NaN,NaN,"$10,000","$10,000","$15,000","$20,000",NaN,NaN,NaN,...,"$50,000","$50,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
grants_df.columns

Index(['Unnamed: 0', '1/1/09 thru 6/30/09', '2009', '7/1/09 thru 6/30/10',
       '2010', ' 7/1/10 thru 6/30/11 ', '2011', '7/1/11 thru 6/30/12', '2012',
       '7/1/12 thru 6/30/13', '2013', '7/1/13 thru 6/30/14', '2014',
       '7/1/14 thru 6/30/15', '2015', '7/1/15 thru 6/30/16', '2016',
       '7/1/16 thru 6/30/17', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 26', '2025', '2026', 'Unnamed: 29',
       'Unnamed: 30'],
      dtype='object')

In [9]:
grants_df = grants_df.drop(columns = ['1/1/09 thru 6/30/09','7/1/09 thru 6/30/10', ' 7/1/10 thru 6/30/11 ','7/1/11 thru 6/30/12', '7/1/12 thru 6/30/13', '7/1/13 thru 6/30/14', '7/1/14 thru 6/30/15', '7/1/15 thru 6/30/16', '7/1/16 thru 6/30/17', 'Unnamed: 26', 'Unnamed: 29', 'Unnamed: 30'])
grants_df.head()

,Unnamed: 0,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026
0,NAME OF CHARITY,AWARDED,AWARDED,AWARDED,AWARDED,AWARDED,AWARDED,AWARDED,AWARDED,AWARDED,AWARDED,AWARDED,AWARDED,AWARDED,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"F.P.C, Murfreesboro","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monroe Harding,NaN,"$10,000","$25,000","$25,000","$30,000","$30,000","$30,000","$35,000","$35,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nashville Food Project,NaN,"$10,000","$20,000",NaN,NaN,NaN,"$15,000",NaN,NaN,NaN,"$50,000","$50,000","$50,000",NaN,NaN,NaN,NaN,NaN

In [11]:
grants_df.tail(10)

,Unnamed: 0,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026
95,Inspiritus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$50,000","$50,000"
96,Endure Athletics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$25,000",NaN
97,Park Center,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$49,000","$49,000"
98,The Branch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$15,000"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,TOTAL GIVEN,"$10,000","$20,000","$249,840","$359,840","$458,650","$682,650.00","$646,860","$656,700","$543,530","$576,168","$584,000","$581,000","$515,367","$598,000","$650,000","$395,000","$648,000",NaN

In [12]:
grants_df = grants_df.dropna(how='all')
grants_df.tail()

,Unnamed: 0,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026
95,Inspiritus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$50,000","$50,000"
96,Endure Athletics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$25,000",NaN
97,Park Center,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$49,000","$49,000"
98,The Branch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$15,000"
104,TOTAL GIVEN,"$10,000","$20,000","$249,840","$359,840","$458,650","$682,650.00","$646,860","$656,700","$543,530","$576,168","$584,000","$581,000","$515,367","$598,000","$650,000","$395,000","$648,000",NaN

In [14]:
grants_df = grants_df.drop(0)
grants_df

,Unnamed: 0,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026
2,"F.P.C, Murfreesboro","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monroe Harding,NaN,"$10,000","$25,000","$25,000","$30,000","$30,000","$30,000","$35,000","$35,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nashville Food Project,NaN,"$10,000","$20,000",NaN,NaN,NaN,"$15,000",NaN,NaN,NaN,"$50,000","$50,000","$50,000",NaN,NaN,NaN,NaN,NaN
5,"F.P. C., Clarksville",NaN,NaN,"$20,000","$10,000","$15,000","$15,000","$15,000","$20,000","$20,000","$32,000","$32,000","$26,000",NaN,NaN,NaN,NaN,NaN,NaN
6,Westminster,NaN,NaN,"$20,000",NaN,"$55,000","$55,000","$55,000","$27,500","$25,000",NaN,"$25,000","$25,000",NaN,NaN,"$25,000","$25,000","$27,000","$100,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Inspiritus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$50,000","$50,000"
96,Endure Athletics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$25,000",NaN
97,Park Center,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$49,000","$49,000"
98,The Branch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$15,000"
104,TOTAL GIVEN,"$10,000","$20,000","$249,840","$359,840","$458,650","$682,650.00","$646,860","$656,700","$543,530","$576,168","$584,000","$581,000","$515,367","$598,000","$650,000","$395,000","$648,000",NaN

In [17]:
grants_df.T

,2,3,4,5,6,7,8,9,10,11,...,90,91,92,93,94,95,96,97,98,104
Unnamed: 0,"F.P.C, Murfreesboro",Monroe Harding,Nashville Food Project,"F.P. C., Clarksville",Westminster,The Ark-Cheatham County,Nations Ministry,Downtown Presbyterian,Learning Matters,The Next Door,...,"My Bag, My Story",Café Momentum,Pres. Food Bank,Salvantion Army N'ville,Sycamore Institue,Inspiritus,Endure Athletics,Park Center,The Branch,TOTAL GIVEN
2009,"$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$10,000"
2010,NaN,"$10,000","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$20,000"
2011,NaN,"$25,000","$20,000","$20,000","$20,000","$24,000","$21,000","$10,000","$6,240","$10,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$249,840"
2012,NaN,"$25,000",NaN,"$10,000",NaN,NaN,"$23,000","$20,000","$8,320","$15,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$359,840"
2013,NaN,"$30,000",NaN,"$15,000","$55,000","$100,000","$25,000",NaN,"$8,800","$25,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$458,650"
2014,NaN,"$30,000",NaN,"$15,000","$55,000",NaN,"$28,000","$30,000","$9,500","$25,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$682,650.00"
2015,NaN,"$30,000","$15,000","$15,000","$55,000",NaN,"$35,000",NaN,"$8,008",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$646,860"
2016,NaN,"$35,000",NaN,"$20,000","$27,500","$10,000","$23,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$656,700"
2017,NaN,"$35,000",NaN,"$20,000","$25,000",NaN,NaN,NaN,"$7,680",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$543,530"
2018,NaN,NaN,NaN,"$32,000",NaN,NaN,"25,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$576,168"
2019,NaN,NaN,"$50,000","$32,000","$25,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$584,000"
2020,NaN,NaN,"$50,000","$26,000","$25,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$581,000"
2021,NaN,NaN,"$50,000",NaN,NaN,NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$515,367"
2022,NaN,NaN,NaN,NaN,NaN,NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$598,000"
2023,NaN,NaN,NaN,NaN,"$25,000",NaN,"$20,000",NaN,NaN,NaN,...,"$5,000","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$650,000"
2024,NaN,NaN,NaN,NaN,"$25,000",NaN,NaN,NaN,"$15,000",NaN,...,NaN,NaN,"$40,000","$25,000","$50,000",NaN,NaN,NaN,NaN,"$395,000"
2025,NaN,NaN,NaN,NaN,"$27,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,"$10,000",NaN,NaN,NaN,"$50,000","$25,000","$49,000",NaN,"$648,000"
2026,NaN,NaN,NaN,NaN,"$100,000",NaN,NaN,"$27,500",NaN,NaN,...,NaN,NaN,NaN,"$25,000",NaN,"$50,000",NaN,"$49,000","$15,000",NaN

In [27]:
mapping_dict = {'T': True, 'F': False}
categories_df['Food Insecurtiy'].fillna('F').map(mapping_dict).astype('bool')

0     False
1     False
2      True
3     False
4     False
      ...
92    False
93     True
94    False
95    False
96     True
Name: Food Insecurtiy, Length: 97, dtype: bool

In [31]:
categories_df['Food Insecurtiy'] = categories_df['Food Insecurtiy'].fillna('F').map(mapping_dict).astype('bool')
categories_df['Child Welfare'] = categories_df['Child Welfare'].fillna('F').map(mapping_dict).astype('bool')
categories_df['Affordable Housing'] = categories_df['Affordable Housing'].fillna('F').map(mapping_dict).astype('bool')
categories_df['Legacy'] = categories_df['Legacy'].fillna('F').map(mapping_dict).astype('bool')
categories_df

,NAME OF CHARITY,Food Insecurtiy,Child Welfare,Affordable Housing,Legacy
0,"F.P.C, Murfreesboro",False,False,False,True
1,Monroe Harding,False,True,False,False
2,Nashville Food Project,True,False,False,False
3,"F.P. C., Clarksville",False,False,True,True
4,Westminster,False,False,True,False
...,...,...,...,...,...
92,Sycamore Institue,False,False,True,False
93,Inspiritus,True,False,True,False
94,Endure Athletics,False,True,False,False
95,Park Center,False,False,True,False
96,The Branch,True,False,False,False

In [32]:
categories_df.loc[categories_df.Legacy & (categories_df['Food Insecurtiy']+categories_df['Child Welfare']+categories_df['Affordable Housing'] > 0)]

,NAME OF CHARITY,Food Insecurtiy,Child Welfare,Affordable Housing,Legacy
3,"F.P. C., Clarksville",False,False,True,True
62,BrightStone,False,False,True,True

In [35]:
categories_df.at[3, 'Affordable Housing'] = False
categories_df.at[3, 'Affordable Housing']

np.False_

In [36]:
categories_df.at[62, 'Affordable Housing'] = False
categories_df.at[62, 'Affordable Housing']

np.False_

In [40]:
categories_df.loc[categories_df.Legacy & (categories_df['Food Insecurtiy']+categories_df['Child Welfare']+categories_df['Affordable Housing'] > 0)]

Empty DataFrame
Columns: [NAME OF CHARITY, Food Insecurtiy, Child Welfare, Affordable Housing, Legacy, amount_of_categories]
Index: []

In [44]:
categories_df[['Food Insecurtiy', 'Child Welfare', 'Affordable Housing']]

    Food Insecurtiy  Child Welfare  Affordable Housing
0             False          False               False
1             False           True               False
2              True          False               False
3             False          False               False
4             False          False                True
..              ...            ...                 ...
92            False          False                True
93             True          False                True
94            False           True               False
95            False          False                True
96             True          False               False

[97 rows x 3 columns]

In [45]:
categories_df['amount_of_categories'] = categories_df[['Food Insecurtiy', 'Child Welfare', 'Affordable Housing']].sum(axis=1)
categories_df

,NAME OF CHARITY,Food Insecurtiy,Child Welfare,Affordable Housing,Legacy,amount_of_categories
0,"F.P.C, Murfreesboro",False,False,False,True,0
1,Monroe Harding,False,True,False,False,1
2,Nashville Food Project,True,False,False,False,1
3,"F.P. C., Clarksville",False,False,False,True,0
4,Westminster,False,False,True,False,1
...,...,...,...,...,...,...
92,Sycamore Institue,False,False,True,False,1
93,Inspiritus,True,False,True,False,2
94,Endure Athletics,False,True,False,False,1
95,Park Center,False,False,True,False,1
96,The Branch,True,False,False,False,1

In [48]:
grants_df = grants_df.rename(columns = {'Unnamed: 0': 'name'})

In [62]:
grants_df_alt = grants_df.rename(columns = {'name': ''}).T
grants_df_alt

,2,3,4,5,6,7,8,9,10,11,...,90,91,92,93,94,95,96,97,98,104
,"F.P.C, Murfreesboro",Monroe Harding,Nashville Food Project,"F.P. C., Clarksville",Westminster,The Ark-Cheatham County,Nations Ministry,Downtown Presbyterian,Learning Matters,The Next Door,...,"My Bag, My Story",Café Momentum,Pres. Food Bank,Salvantion Army N'ville,Sycamore Institue,Inspiritus,Endure Athletics,Park Center,The Branch,TOTAL GIVEN
2009,"$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$10,000"
2010,NaN,"$10,000","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$20,000"
2011,NaN,"$25,000","$20,000","$20,000","$20,000","$24,000","$21,000","$10,000","$6,240","$10,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$249,840"
2012,NaN,"$25,000",NaN,"$10,000",NaN,NaN,"$23,000","$20,000","$8,320","$15,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$359,840"
2013,NaN,"$30,000",NaN,"$15,000","$55,000","$100,000","$25,000",NaN,"$8,800","$25,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$458,650"
2014,NaN,"$30,000",NaN,"$15,000","$55,000",NaN,"$28,000","$30,000","$9,500","$25,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$682,650.00"
2015,NaN,"$30,000","$15,000","$15,000","$55,000",NaN,"$35,000",NaN,"$8,008",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$646,860"
2016,NaN,"$35,000",NaN,"$20,000","$27,500","$10,000","$23,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$656,700"
2017,NaN,"$35,000",NaN,"$20,000","$25,000",NaN,NaN,NaN,"$7,680",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$543,530"
2018,NaN,NaN,NaN,"$32,000",NaN,NaN,"25,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$576,168"
2019,NaN,NaN,"$50,000","$32,000","$25,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$584,000"
2020,NaN,NaN,"$50,000","$26,000","$25,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$581,000"
2021,NaN,NaN,"$50,000",NaN,NaN,NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$515,367"
2022,NaN,NaN,NaN,NaN,NaN,NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$598,000"
2023,NaN,NaN,NaN,NaN,"$25,000",NaN,"$20,000",NaN,NaN,NaN,...,"$5,000","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$650,000"
2024,NaN,NaN,NaN,NaN,"$25,000",NaN,NaN,NaN,"$15,000",NaN,...,NaN,NaN,"$40,000","$25,000","$50,000",NaN,NaN,NaN,NaN,"$395,000"
2025,NaN,NaN,NaN,NaN,"$27,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,"$10,000",NaN,NaN,NaN,"$50,000","$25,000","$49,000",NaN,"$648,000"
2026,NaN,NaN,NaN,NaN,"$100,000",NaN,NaN,"$27,500",NaN,NaN,...,NaN,NaN,NaN,"$25,000",NaN,"$50,000",NaN,"$49,000","$15,000",NaN

In [63]:
grants_df_alt.columns = grants_df_alt.iloc[0]
grants_df_alt

,"F.P.C, Murfreesboro",Monroe Harding,Nashville Food Project,"F.P. C., Clarksville",Westminster,The Ark-Cheatham County,Nations Ministry,Downtown Presbyterian,Learning Matters,The Next Door,...,"My Bag, My Story",Café Momentum,Pres. Food Bank,Salvantion Army N'ville,Sycamore Institue,Inspiritus,Endure Athletics,Park Center,The Branch,TOTAL GIVEN
,"F.P.C, Murfreesboro",Monroe Harding,Nashville Food Project,"F.P. C., Clarksville",Westminster,The Ark-Cheatham County,Nations Ministry,Downtown Presbyterian,Learning Matters,The Next Door,...,"My Bag, My Story",Café Momentum,Pres. Food Bank,Salvantion Army N'ville,Sycamore Institue,Inspiritus,Endure Athletics,Park Center,The Branch,TOTAL GIVEN
2009,"$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$10,000"
2010,NaN,"$10,000","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$20,000"
2011,NaN,"$25,000","$20,000","$20,000","$20,000","$24,000","$21,000","$10,000","$6,240","$10,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$249,840"
2012,NaN,"$25,000",NaN,"$10,000",NaN,NaN,"$23,000","$20,000","$8,320","$15,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$359,840"
2013,NaN,"$30,000",NaN,"$15,000","$55,000","$100,000","$25,000",NaN,"$8,800","$25,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$458,650"
2014,NaN,"$30,000",NaN,"$15,000","$55,000",NaN,"$28,000","$30,000","$9,500","$25,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$682,650.00"
2015,NaN,"$30,000","$15,000","$15,000","$55,000",NaN,"$35,000",NaN,"$8,008",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$646,860"
2016,NaN,"$35,000",NaN,"$20,000","$27,500","$10,000","$23,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$656,700"
2017,NaN,"$35,000",NaN,"$20,000","$25,000",NaN,NaN,NaN,"$7,680",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$543,530"
2018,NaN,NaN,NaN,"$32,000",NaN,NaN,"25,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$576,168"
2019,NaN,NaN,"$50,000","$32,000","$25,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$584,000"
2020,NaN,NaN,"$50,000","$26,000","$25,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$581,000"
2021,NaN,NaN,"$50,000",NaN,NaN,NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$515,367"
2022,NaN,NaN,NaN,NaN,NaN,NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$598,000"
2023,NaN,NaN,NaN,NaN,"$25,000",NaN,"$20,000",NaN,NaN,NaN,...,"$5,000","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$650,000"
2024,NaN,NaN,NaN,NaN,"$25,000",NaN,NaN,NaN,"$15,000",NaN,...,NaN,NaN,"$40,000","$25,000","$50,000",NaN,NaN,NaN,NaN,"$395,000"
2025,NaN,NaN,NaN,NaN,"$27,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,"$10,000",NaN,NaN,NaN,"$50,000","$25,000","$49,000",NaN,"$648,000"
2026,NaN,NaN,NaN,NaN,"$100,000",NaN,NaN,"$27,500",NaN,NaN,...,NaN,NaN,NaN,"$25,000",NaN,"$50,000",NaN,"$49,000","$15,000",NaN

In [64]:
grants_df_alt = grants_df_alt.drop(grants_df_alt.index[0])
grants_df_alt

,"F.P.C, Murfreesboro",Monroe Harding,Nashville Food Project,"F.P. C., Clarksville",Westminster,The Ark-Cheatham County,Nations Ministry,Downtown Presbyterian,Learning Matters,The Next Door,...,"My Bag, My Story",Café Momentum,Pres. Food Bank,Salvantion Army N'ville,Sycamore Institue,Inspiritus,Endure Athletics,Park Center,The Branch,TOTAL GIVEN
2009,"$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$10,000"
2010,NaN,"$10,000","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$20,000"
2011,NaN,"$25,000","$20,000","$20,000","$20,000","$24,000","$21,000","$10,000","$6,240","$10,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$249,840"
2012,NaN,"$25,000",NaN,"$10,000",NaN,NaN,"$23,000","$20,000","$8,320","$15,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$359,840"
2013,NaN,"$30,000",NaN,"$15,000","$55,000","$100,000","$25,000",NaN,"$8,800","$25,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$458,650"
2014,NaN,"$30,000",NaN,"$15,000","$55,000",NaN,"$28,000","$30,000","$9,500","$25,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$682,650.00"
2015,NaN,"$30,000","$15,000","$15,000","$55,000",NaN,"$35,000",NaN,"$8,008",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$646,860"
2016,NaN,"$35,000",NaN,"$20,000","$27,500","$10,000","$23,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$656,700"
2017,NaN,"$35,000",NaN,"$20,000","$25,000",NaN,NaN,NaN,"$7,680",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$543,530"
2018,NaN,NaN,NaN,"$32,000",NaN,NaN,"25,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$576,168"
2019,NaN,NaN,"$50,000","$32,000","$25,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$584,000"
2020,NaN,NaN,"$50,000","$26,000","$25,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$581,000"
2021,NaN,NaN,"$50,000",NaN,NaN,NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$515,367"
2022,NaN,NaN,NaN,NaN,NaN,NaN,"$20,000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$598,000"
2023,NaN,NaN,NaN,NaN,"$25,000",NaN,"$20,000",NaN,NaN,NaN,...,"$5,000","$10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$650,000"
2024,NaN,NaN,NaN,NaN,"$25,000",NaN,NaN,NaN,"$15,000",NaN,...,NaN,NaN,"$40,000","$25,000","$50,000",NaN,NaN,NaN,NaN,"$395,000"
2025,NaN,NaN,NaN,NaN,"$27,000",NaN,"$20,000",NaN,NaN,NaN,...,NaN,"$10,000",NaN,NaN,NaN,"$50,000","$25,000","$49,000",NaN,"$648,000"
2026,NaN,NaN,NaN,NaN,"$100,000",NaN,NaN,"$27,500",NaN,NaN,...,NaN,NaN,NaN,"$25,000",NaN,"$50,000",NaN,"$49,000","$15,000",NaN